:host {
  display: flex;
  // width: 100%;
  padding: 20px 50px;
  & ::ng-deep > * {
    flex: 1 1 0;
    overflow: hidden;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: 599px) {
    padding: 0px;
  }
}
