@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

// $bgColor: mat-palette($mat-light-blue);
$custom-primary: mat-palette($mat-indigo, 500); /* 500是預設值，也可以忽略 */
body,
mat-toolbar.mat-toolbar {
  background-color: mat-color($custom-primary);
  color: white;
}
