<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <a mat-button [routerLink]="[url]" [fragment]="node.name" [color]="node.active?'primary':''">{{node.name}}</a>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon>
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <a mat-button [routerLink]="[url]" [fragment]="node.name" [color]="node.active?'primary':''">{{node.name}}</a>
  </mat-tree-node>
</mat-tree>