:host {
  $primaryColor: rgba(0, 0, 0, 0.87);
  //   color:

  mat-icon {
    user-select: none;
    cursor: pointer;
  }

  a {
    // text-decoration: none;
    // color: $primaryColor;
    // display: flex;

    // align-items: center;
    * {
      vertical-align: middle;
    }
  }

  .nav-item__container {
    display: flex;
    align-items: center;


    .spring {
      flex: 1;
    }
  }

  //   button {
  //     pointer-events: none;
  //   }

  .vertical-menu-item {
    //doc mat默认是居中
    text-align: inherit;
    padding: 0;

    .mat-button,
    .mat-icon-button {
      ::ng-deep .mat-button-focus-overlay {
        opacity: 0;
      }
    }
  }

  //doc 子菜单是否展开
  .children-nav-menu {
    padding-left: 16px;

    &.expanded {
      visibility: visible;
      opacity: 1;
    //   padding-left: 0;
      max-height: 4000px; // Arbitrary max-height. Can increase if needed. Must have measurement to transition height.
      transition: visibility 500ms, opacity 500ms, max-height 500ms;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
    }

    &.collapsed {
      overflow: hidden; // Needed to prevent unnecessary sidenav scrollbar.
      visibility: hidden;
    //   padding-left: 0;
      opacity: 0;
      max-height: 1px; // Must have measurement to transition height.
      transition: visibility 275ms, opacity 275ms, max-height 280ms;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
  }

  .nav-item__container.expanded {
    .rotating-icon .mat-icon {
      //   @include rotate(90deg);
      transform: rotate(90deg);
      transition: transform 150ms;
      transition-timing-function: ease-in-out;
    }
  }

  .nav-item__container:not(.expanded) {
    .rotating-icon .mat-icon {
      //   @include rotate(0deg);
      transform: rotate(0deg);
      transition: transform 150ms;
      transition-timing-function: ease-in-out;
    }

  }

}
